version: '3'
services:
  web:
    build: .
    ports:
      - "7080:80"
    networks:
      - atende
    environment:
      DB_HOST: 172.20.0.6
      DB_USER: root
      DB_PASS: Ncm@647534
      DB_NAME: saw15

networks:
  atende:
    external: true

